{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="jumbotron-home text-center bg-primary text-white">
		<div class="container">
			<h1 class="display-4 mb-2">Bienvenue sur notre site de restauration!</h1>
			<p class="lead">Commandez vos plats préférés et profitez d'une livraison rapide.</p>

			<!-- Formulaire de recherche -->
			<div class="search-bar pb-4">
				<form action="{{ path('app_recherche') }}" method="get" class="form-inline mb" required>
					<div class="input-group w-100">
						<input class="form-control" type="search" placeholder="Rechercher un plat ou une catégorie" aria-label="Recherche" name="q">
						<button class="btn btn-secondary" type="submit">
							<i class="fas fa-search"></i>
							Recherche
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="container mt-2">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<h2 class="section-title mb-4 text-center">Catégories</h2>
			<div class="row">
				{% for categorie in popularCategories %}
					<div class="col-6 col-md-4 mb-4">
						<a href="{{ path('category_plats', {'id': categorie.id}) }}">
							<div class="card category-card">
								<img src="{{ asset('img/category/' ~ categorie.image) }}" class="card-img-top" alt="{{ categorie.libelle }}">
								<div class="card-body">
									<h5 class="card-title">{{ categorie.libelle }}</h5>
								</div>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			<h2 class="section-title mb-4 text-center">Plats populaires</h2>
			<div class="row">
				{% for plat in popularPlats %}
					<div class="col-12 col-md-6 mb-4">
						<div class="card horizontal-plat-card mb-3 h-100">
							<div class="row h-100 g-0">
								<div class="col-12 col-md-4 mb-3 mb-md-0">
									<img src="{{ asset('img/food/' ~ plat.image) }}" class="img-fluid rounded rounded-md-start" alt="{{ plat.libelle }}">
								</div>
								<div class="col-12 col-md-8">								
									<div class="card-body h-100 d-flex flex-column">
										<h5 class="card-title">{{ plat.libelle }}</h5>
										<div class='flex-grow-1'>
											<p class="card-text">{{ plat.description }}</p>
										</div>
										<div class="card-footer text-end d-flex justify-content-between align-items-center">
											<p class="card-text mb-0">
												<strong>Prix :
												</strong>
												{{ plat.prix }}
												€</p>
											<a href="{{ path('panier_ajout', {'id': plat.id}) }}" class="btn btn-primary">Ajouter au panier</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
